@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#topbar {
    box-shadow: 0 2px 4px #ccc;
    padding: 12px 48px;
    text-align: center;

    position: fixed;
    background-color: white;
    width: 100%;

    top: 0px;
    left: 0px;
}

.menu-item {
    margin: 0 12px;
}

#main-heading {
    font-size: 48px;
    font-weight: 500;
    /* margin: 0; */
    margin: 60px 0 0;
}

.food-item {
    color: black;
    text-decoration: none;
}

.food-card {
    width: 400px;
    text-align: center;
    box-shadow: 0 0 8px #ccc;
    margin: 16px auto;
    border-radius: 8px;
}

.food-thumbnail {
    width: 400px;
    height: 400px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.food-name {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 12px;
}